@import "../styles/palette";
@import "../styles/grid";
@import "../styles/fontsize";

.Tabs {

  .Tabs-Items-container {

    position: relative;

    .Tab-arrow-right, .Tab-arrow-left {
      position: absolute;
      height: 50px;
      width: 40px;
      z-index: 1;
    }

    .Tab-arrow-right {
      right: 0;
      background: #fff url("../images/tab-arrow-right.svg") center 14px no-repeat;
    }

    .Tab-arrow-left {
      left: 0;
      background: #fff url("../images/tab-arrow-left.svg") center 14px no-repeat;
    }

    .Tabs-Items-wrap {

      height: 50px;

      .Tabs-Items {

        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        height: 50px;

        @media #{$xsmall-screen} {
          justify-content: space-between;
          padding: 0;
        }

        .Tab {
          cursor: pointer;
          display: flex;
          align-items: center;
          border-bottom: 5px solid transparent;
          user-select: none;
          white-space: nowrap;
          text-transform: none;
          color: $blue;
          font-weight: 700;
          font-size: $s16;
          line-height: 1;
          padding: 0 20px;

          @media #{$medium-screen}, #{$small-screen}, #{$xsmall-screen}{
            padding-right: 10px;
            padding-left: 10px;
          }

          @media #{$xsmall-screen} {
            flex: 1 1 auto;
          }

          &.Tab-active {
            border-bottom: 5px solid $yellow;
            color: $black;
          }

          &:first-child {

            padding-left: 0;
            padding-right: 0;
            margin-right: 20px;

            @media #{$medium-screen}, #{$small-screen} {
              margin-right: 10px;
            }

            @media #{$xsmall-screen} {
              padding-left: 10px;
              padding-right: 10px;
              margin-right: 0;
            }
          }

          &:last-child {

            padding-left: 0;
            padding-right: 0;
            margin-left: 20px;

            @media #{$medium-screen}, #{$small-screen}{
              margin-left: 10px;
            }

            @media #{$xsmall-screen} {
              padding-left: 10px;
              padding-right: 10px;
              margin-left: 0;
            }

          }

          .Tab-name {
            display: flex;
            align-items: center;

            @media #{$xsmall-screen} {
              flex: 0 0 100%;
              justify-content: center;
            }

            .TabCounter {
              flex: 0 0 auto;
              font-size: $s12;
              line-height: 1;
              font-weight: normal;
              border-radius: 10px;
              padding: 3px 7px;
              color: $black;
              background: $yellow;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .Tabs-Active-Content {

    border-top: 1px solid #ddd;

  }

}